<!DOCTYPE html>
<html>
<head>
  <title>PieceBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- .container is main centered wrapper -->
<div class="container">
  <div class="row">
    <div class="rules">
      privileges = Piece.load(<a href="javascript:$('#rd').toggle()">File.read(Rails.root.join('config', 'privileges.yml'))</a>)
      <div id="rd" style="display: none">
      <pre><code><%= Rails.configuration.privileges_yml %></code></pre>
      </div>
      <% if session[:redirected_action] %>
      <%= render partial: 'layouts/matching', locals: { action:
      session[:redirected_action], redirected: true } %>
      <% end %>
      <%= render partial: 'layouts/matching', locals: { action:
          current_action, redirected: false } %>
    </div>
  </div>
  <div class="row">
    <%= render partial: 'layouts/login' %>
    <% if flash[:error] %>
    <div class="error">
      <%= flash[:error] %>
    </div>
    <% end %>
    <% if flash[:notice] %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
    <% end %>
    <%= yield %>
  </div>
</div>

</body>
</html>
